@charset "ISO-8859-1";

body{
	background-color: #002f3d;
}

h1{
	text-align: center;
}

h2{
	background-color: #3465a4;
	text-decoration: underline;
}

h3{
	background-color: #555753;
}

div{
	background-color: #555753;
}

span{
	color: blue;
}

footer{
	background-color: #babdb6; 
	text-align: end;
}